<component name="ArtifactManager">
  <artifact type="war" name="springmvcvc:war">
    <output-path>$PROJECT_DIR$/springmvcvc/target</output-path>
    <root id="archive" name="Streepjes.war">
      <element id="artifact" artifact-name="springmvcvc:war exploded" />
    </root>
  </artifact>
</component>